<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Corona Virus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<p> </p>
<table>
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases Reported</th>
    </tr>
    <tr th:each="locationStat : ${states}" >
        <td th:text="${locationStat.state}" ></td>
        <td th:text="${locationStat.country}" ></td>
        <td th:text="${locationStat.latestTotalCases}" ></td>
    </tr>
</table>

</body>

</html>